@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom,
    #000000,
    #452124,
    #873d34,
    #c56434,
    #f69823
  );
  height: 100vh;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
}

.sign-up {
  display: flex;
  width: 80%;
  height: 80%;
  margin: 2rem auto;
  border-radius: 15px;
}

.left-side {
  width: 50%;
  background-image: url("./images/main.avif");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.logo {
  margin-top: 20%;
  height: 150px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-height: 150px;
  max-width: 50%;
  background: transparent;
}

.logo h1 {
  display: block;
  margin-left: 20px;
  font-weight: 900;
  font-size: 2rem;
  color: #7450ec;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

.right-side {
  display: flex;
  flex-direction: column;
}
